name: Auto Reserva Tenis

on:
  workflow_dispatch:
  schedule:
       - cron: "*/5 * * * *"
jobs:
  reservar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - run: |
          pip install -r requirements.txt
          playwright install chromium
      - run: python reserva.py
        env:
          BIGUA_USER: ${{ secrets.BIGUA_USER }}
          BIGUA_PASS: ${{ secrets.BIGUA_PASS }}
